@(person:models.Person)

<table class="details">
	<thead>
		<tr>
			<td class="avatar"><img src="@routes.Assets.at("avatar.png")"" alt="avatar"></td>
			<th>@person.name</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<th>Name</th>
			<td>@person.name</td>
		</tr>
		<tr>
			<th>File as</th>
			<td>@person.fileAs</td>
		</tr>
		<tr>
			<th>Telephone</th>
			<td>@person.telephoneNumber</td>
		</tr>
		<tr>
			<th>Office</th>
			<td>@person.office</td>
		</tr>
		<tr>
			<th>E-mail</th>
			<td>@person.emailAddress</td>
		</tr>
	</tbody>
</table>
