@(people:java.util.List[models.Person])

@main(title = "People directory", subtitle = people.size + " people - search by name or number") {

	@if(people.isEmpty) {
		<section>
			<form action="@routes.TestData.load()" method="POST">
				<button type="submit">Load Test Data</button>
			</form>
		</section>
	} else {
		<section class="box">
			<table class="index datatables">
				<thead>

				<tr>
					<th>Name</th>
					<th>File as</th>
					<th>Telephone</th>
					<th>Office</th>
					<th>E-mail address</th>
				</tr>
				</thead>

				<tbody>
				@people.zipWithIndex.map { case (person, index) =>
					<tr class="@{if (index % 2 == 1) "even" else "odd"}">
						<td><a href="@routes.Application.details(person.id)">@person.name</a></td>
						<td>@person.fileAs</td>
						<td>@person.telephoneNumber</td>
						<td>@person.office</td>
						<td>@person.emailAddress</td>
					</tr>
				}
				</tbody>
			</table>
		</section>
	}
}
