@(people:java.util.List[models.Person])

@main(title = "People directory", subtitle = people.size + " people - search by name or number") {

	@if(people.isEmpty) {
		<section>
			<form action="@routes.TestData.load()" method="POST">
				<button type="submit">Load Test Data</button>
			</form>
		</section>
	} else {
		<section class="box">
			<table class="index">
				@for(person <- people) {
					<tr>
						<td><a href="@routes.Application.details(person.id)">
							@if(person.name.contains(person.fileAs)) {
								@person.name.substring(0, person.name.indexOf(person.fileAs))
								<strong>@person.name.substring(person.name.indexOf(person.fileAs))</strong>
							} else {
								<strong>@person.name</strong>
							}
						</a></td>
					</tr>
				}
			</table>
		</section>
	}
}

<section
