@(people:com.avaje.ebean.Page[models.Person], search:String)
@import models.Person
@import scala.collection.immutable.TreeMap

    <div id="index" class="index">
    @for(letter <- TreeMap(people.getList().groupBy((person : Person) => person.fileAs.head).toSeq:_*)) {
        <p class="letter">@letter._1</p>
        @for(person <- letter._2) {
            <p class="entry">
            <a href="@routes.Application.details(person.id)">
            @if(person.name.contains(person.fileAs)) {
                @person.name.substring(0, person.name.indexOf(person.fileAs))
                <strong>@person.name.substring(person.name.indexOf(person.fileAs))</strong>
            } else {
                <strong>@person.name</strong>
            }
            </a>
            </p>
        }
    }

    @if(people.hasNext()) {
        <p class="next"><a href="@routes.Application.index(people.getPageIndex() + 2, search)">Next</a></p>
    }
    </div>
